html{
    height: 100%;
}
body{
    font-family: 'calibri';
    height: 100%;
    margin: 0 !important;
}
.container{
    padding-top: 50px;
}
.alert{
    border-bottom: none;
    box-shadow: none;
}
.responsiveCenter{
    text-align: center;
}
@media(min-width: 768px){

}









.navbar-fixed-top{
    min-height: 50px;
}
.navbar-fixed-top #timeStamp{
    margin: 15px;
}
.navbar-fixed-top input#searchInput{
    /*display: none;*/
    width: calc(100% - 70px);
    margin: 8px;
}
.navbar-fixed-top span.glyphicon-search{
    font-size: 30px;
    margin: 9px;
    margin-left: 12px;
    color: white;
}
.alert-info .navbar-fixed-top{
    background-color: rgba(58, 147, 183, 0.67);
}
.navbar-fixed-bottom{
    padding-bottom: 10px;
    /*background-color: red;*/
}
.navbar-fixed-bottom .bottomControls{
    background-color: rgba(70, 162, 209, 0.15);
    min-height: 60px;
}
.navbar-fixed-bottom [class^="col-xs-"]{
    padding-left: 5px;
    padding-right: 5px;
}
.mainContent{
    margin-top: -50px;
}

.mainContent h1{
    margin-bottom: 0;
    font-weight: 100;
    font-size: 50px;
}
.mainContent h2{
    margin-top: 0;
    font-weight: bolder;
    font-size: 42px;
    letter-spacing: 2px;
}

svg{
    float: none;
    fill: white;
}
svg.socialIcon{
    margin-top: 5px;
    fill: white;
    max-height: 50%;
    max-width: 50%;
}
span.socialIcon{
    margin-top: 6px;
    margin-bottom: 13px;
    font-size: 30px;
    color: white;
}
#forecastIcon{
    margin-top: -10px;
}
#forecastIcon svg path{
    fill : white;
}
#forecastIcon svg path[fill]{
    fill : transparent;
}



/*start : flip classes*/
.flip {
    margin-top: -15px;
    /*-webkit-perspective: 800;*/
    /*width: 70%;*/
    /*height: 100%;*/
    /*position: relative;*/
    /*margin: auto;*/
}
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    font-family: Georgia;
    /*font-size: 3em;*/
    text-align: center;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}
/*end : flip classes*/



/*start : shatterCheckbox*/
/*
#shatterCheckbox{
    display: none;
}
#shatterCheckbox:checked ~ #shatter{
    bottom: auto;
    transform: translateY(100%);
}*/
#shatter{
    top: -290px;
    opacity: .9;
    height: 290px;
    transition: transform ease-in-out 1s;
}
#shatter .themes{
    color: #ffffff;
    cursor: pointer;
    height: 50px;
    padding: 12px;
    margin-bottom: 20px;
}
#shatter .themes img{
    padding: 1px;
    max-width: 70%;
    margin: auto;
}
body{
    transition: transform ease-in-out 1s;
}
body.shatter{
    transform: translateY(290px);
}

/*end : shatterCheckbox*/










/*start : theme avocado*/
.avocado{
    background-color: #98c6cc;
    background-image: none;
    color: #589299;
}
.avocado .navbar-fixed-top{
    background-color: #6aa0a7;
}
.avocado .navbar-fixed-bottom .bottomControls{
    background-color: #bde1e6;
}


/*end : theme avocado*/


/*start : theme nectarine*/
.nectarine{
    background-color: #cc9e98;
    background-image: none;
    color: #9b6059;
}
.nectarine .navbar-fixed-top{
    background-color: #a77069;
}
.nectarine .navbar-fixed-bottom .bottomControls{
    background-color: #e4c1bb;
}


/*end : theme nectarine*/

/*start : theme noni*/
.noni{
    background-color: #98cbb4;
    background-image: none;
    color: #549776;
}
.noni .navbar-fixed-top{
    background-color: #6ba78b;
}
.noni .navbar-fixed-bottom .bottomControls{
    background-color: #bce7d2;
}


/*end : theme noni*/

/*start : theme jamun*/
.jamun{
    background-color: #989acc;
    background-image: none;
    color: #575897;
}
.jamun .navbar-fixed-top{
    background-color: #6b6ba7;
}
.jamun .navbar-fixed-bottom .bottomControls{
    background-color: #bebde7;
}


/*end : theme jamun*/

/*start : theme raisin*/
.raisin{
    background-color: #ccc497;
    background-image: none;
    color: #98895a;
}
.raisin .navbar-fixed-top{
    background-color: #a79d6a;
}
.raisin .navbar-fixed-bottom .bottomControls{
    background-color: #e6e0be;
}


/*end : theme raisin*/

/*start : theme berry*/
.berry{
    background-color: #98b1cc;
    background-image: none;
    color: #567493;
}
.berry .navbar-fixed-top{
    background-color: #6a87a7;
}
.berry .navbar-fixed-bottom .bottomControls{
    background-color: #becfe6;
}


/*end : theme berry*/

/*start : theme strawberry*/
.strawberry{
    background-color: #c89cc2;
    background-image: none;
    color: #9f6d97;
}
.strawberry .navbar-fixed-top{
    background-color: #a16e9c;
}
.strawberry .navbar-fixed-bottom .bottomControls{
    background-color: #e3c0de;
}


/*end : theme strawberry*/

/*start : theme Cherymoya*/
.Cherymoya{
    background-color: #a3b588;
    background-image: none;
    color: #819c5d;
}
.Cherymoya .navbar-fixed-top{
    background-color: #6f894f;
}
.Cherymoya .navbar-fixed-bottom .bottomControls{
    background-color: #b5cc99;
}


/*end : theme Cherymoya*/



/*fade in up animation*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
/*fade in up animation*/