@font-face {
    font-family: xperia;
    src: url(./fonts/Xperia.ttf);
}
html{
    height: 100%;
}
body{
    font-family: 'calibri';
}
.alert{
    border-bottom: none;
    box-shadow: none;
}
.responsiveCenter{
    text-align: center;
}
@media(min-width: 768px){

}









.alert-info .navbar-fixed-top{
    background-color: rgba(58, 147, 183, 0.67);
    opacity: .5;
    min-height: 50px;
}
.navbar-fixed-bottom{
    padding-bottom: 10px;
    /*background-color: red;*/
}
.navbar-fixed-bottom .bottomControls{
    background-color: rgba(70, 162, 209, 0.15);
    min-height: 60px;
}
.navbar-fixed-bottom [class^="col-xs-"]{
    padding-left: 5px;
    padding-right: 5px;
}
.mainContent{
    margin-top: -25px;
}

.mainContent h1{
    margin-bottom: 0;
    font-weight: 100;
    font-size: 50px;
}
.mainContent h2{
    margin-top: 0;
    font-weight: bolder;
    font-size: 40px;
}

svg{
    float: none;
}
#forecastIcon{
    margin-top: -10px;
}
#forecastIcon svg path{
    fill : white;
}
