<?xml version='1.0' encoding='utf-8'?>
<widget id="com.adeelHussain.weatherApplication" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>'weatherApplicaton'</name>
    <description>
        A weather application that gives the information about weather.
    </description>
    <author email="mr.adi180@gmail.com">
        Adeel Hussain
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
